@{
    ViewData["Title"] = "Go";
}

<div>
    <form asp-action="Go" method="post" class="m-2">
        <div>
            <h2>You are about to manually start GarPuller...</h2>
        </div>
        <button type="submit" class="btn btn-primary">Yeah</button>
    </form>
</div>